@model IEnumerable<Enginex.Application.Categories.Queries.CategoryEdit>

    <section>
        <div class="container mt-5">
            <div class="row block-9">
                <div class="col-lg-12 ftco-animate">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <h3>Kategórie</h3>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="m-2"><a asp-controller="Admin" asp-action="EditCategory">Pridať novú kategóriu</a></div>
                        <table class="table table-dark table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Názov</th>
                                    <th scope="col">Typ</th>
                                    <th scope="col">Popis</th>
                                    <th scope="col">Upraviť</th>
                                    <th scope="col">Zmazať</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td>@category.Name.Slovak</td>
                                        <td><a asp-controller="Admin" asp-action="EditCategory" asp-route-id="@category.Id">Upraviť</a></td>
                                        <td><a href="#">Zmazať</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>