@model Enginex.Web.ViewModels.Admin.ProductEditViewModel

<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>Produkt</h3>
                    </div>
                </div>
                <div class="mb-3">
                    <form asp-action="EditProduct" method="post" class="contact-form">
                        <div class="form-group">
                            <label asp-for="CategoryViewModel.SelectedCategoryId">Kategória</label>
                            <div><span asp-validation-for="CategoryViewModel.SelectedCategoryId" class="text-danger"></span></div>
                            <select asp-for="CategoryViewModel.SelectedCategoryId" class="custom-select"
                                    asp-items="@(new SelectList(Model.CategoryViewModel.Categories,"Id","Name"))"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name.Slovak">Názov (sk)</label>
                            <div><span asp-validation-for="Name.Slovak" class="text-danger"></span></div>
                            <input asp-for="Name.Slovak" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Name.English">Názov (en)</label>
                            <div><span asp-validation-for="Name.English" class="text-danger"></span></div>
                            <input asp-for="Name.English" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Type">Typ</label>
                            <div><span asp-validation-for="Type" class="text-danger"></span></div>
                            <input asp-for="Type" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Description.Slovak">Popis (sk)</label>
                            <div><span asp-validation-for="Description.Slovak" class="text-danger"></span></div>
                            <textarea asp-for="Description.Slovak" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description.English">Popis (en)</label>
                            <div><span asp-validation-for="Description.English" class="text-danger"></span></div>
                            <textarea asp-for="Description.English" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Uložiť" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
