@model Enginex.Web.ViewModels.Admin.WebAppViewModel

<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>Administrácia</h3>
                    </div>
                </div>
                <div class="mb-3">
                    <ul>
                        <li><a asp-controller="Admin" asp-action="Categories">Kategórie</a></li>
                        <li><a asp-controller="Admin" asp-action="Products">Produkty</a></li>
                        <li><a asp-controller="Account" asp-action="Users">Administrátori</a></li>
                    </ul>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="p-2 small">Target framework: <strong>@Model.TargetFramework</strong></div>
                    <div class="p-2 small">Version: <strong>@Model.AssemblyInformationalVersion</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>