<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>Administrácia</h3>
                    </div>
                </div>
                <div class="mb-3">
                    <ul>
                        <li><a asp-controller="Admin" asp-action="Categories">Kategórie</a></li>
                        <li><a asp-controller="Admin" asp-action="Products">Produkty</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>