@model Enginex.Web.ViewModels.CategoryListViewModel

<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-md-12 nav-link-wrap">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                @foreach (var category in Model.Categories)
                {
                    <a class="nav-link @(Model.SelectedCategoryId == category.Id ? "active" : "")" role="tab"
                       asp-controller="Product"
                       asp-action="List"
                       asp-route-categoryId="@category.Id">
                        @category.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div>