@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-primary alert-dismissible fade show" role="alert">
        @Localizer["CookieConsentInfo"] 
        <a asp-controller="Home" asp-action="Privacy" class="alert-link">@Localizer["MoreInfo"]</a>
        <button type="button" class="btn btn-dark float-md-right" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            @Localizer["Accept"]
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
