<section class="ftco-intro">
    <div class="container-wrap">
        <div class="wrap d-md-flex">
            <div class="info min-vw-100">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <p>+421 905 392 031</p>
                            <p>+421 905 392 030</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <p>Kukučínova 23</p>
                            <p>Košice 040 01</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-mail_outline"></span></div>
                        <div class="text">
                            <p>info@enginex.sk</p>
                            <p>enginexsro@gmail.com</p>
                            <p>enginexltd@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-md-flex pl-md-5 p-4 align-items-center"></div>
        </div>
    </div>
</section>