@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="btn-group" role="group" aria-label="Basic example">
    <form asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl" asp-route-culture="sk" method="post">
        <span>
            <button type="submit" class="btn btn-sm py-0 @(ViewBag.CurrentCulture == "sk" ? "" : "btn-dark")" style="font-size: 0.8em; float: right">sk</button>
        </span>
    </form>
    <form asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl" asp-route-culture="en" method="post">
        <span>
            <button type="submit" class="btn btn-sm py-0 @(ViewBag.CurrentCulture == "en" ? "" : "btn-dark")" style="font-size: 0.8em; float: right">en</button>
        </span>
    </form>
</div>
