<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>Emailová adresa bol úspešne potvrdená. <a asp-controller="Admin" asp-action="Index">Administrácia.</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>