@model Enginex.Web.ViewModels.Admin.LoginViewModel 
<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>Prihlásenie</h3>
                    </div>
                </div>
                <div class="mb-5 mt-2">
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-lg btn-primary" style="width: auto"
                                        name="provider" value="@provider.Name"
                                        title="Prihlásenie prostredníctvom @provider.DisplayName účtu">
                                    via @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>